*~
*.o
*.lo
*.la
.deps
.libs

configure
libtool
Makefile
Makefile.in
compile
config.guess
config.sub
depcomp
config.h
config.h.in
stamp-h1
install-sh
ltmain.sh
m4/
missing
aclocal.m4
autom4te.cache/
config.log
config.status
ilmmanager

